<div class="h-screen w-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-5/6">
      <h2 class="text-2xl font-semibold text-center mb-6">
        ¿Quiénes somos?
      </h2>

      <div class="grid grid-cols-2 gap-2 h-2000 w-full m-auto justify-center items-center">

            <div class="mb-4 h-2000 justify-center items-center w-full">
              <div class="mb-4 justify-center items-center">
                <img src="./assets/freelancer2.png">
              </div>
            </div>
            <div class="mb-4 h-2000 justify-center items-center w-full">
              <div class="flex justify-center items-center h-1000 align-middle">
<span class="flex align-middle justify-center items-center">CoderLink surge como una iniciativa innovadora con el objetivo de mejorar la conexión entre desarrolladores y usuarios que buscan servicios
independientes. Se posiciona como una plataforma clave en la intersección de la tecnología y el freelancing, ofreciendo soluciones integrales para la contratación y colaboración en proyectos de desarrollo de software.</span>
              </div>
              <br>
              <div class="space-x-4">
                <button [disabled]="true" type="submit"
                class="w-100 bg-indigo-600 
                text-white p-3 rounded-md hover: bg-indigo-700 
                focus: outline-none"
                >Clientes</button>
                <button [disabled]="true" type="submit"
            class="w-100 bg-indigo-600 
            text-white p-3 rounded-md hover: bg-indigo-700 
            focus: outline-none"
            >Desarrolladores</button></div>
            </div>
      </div>
    </div>
  </div>
  