<mat-toolbar color="primary">
    <span><a href="/contacto" >CoderLink</a></span>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span class="item-menu">Freelancer</span>
    <span class="item-menu">Buscar proyectos</span>
    <span class="item-menu"><a href="/busqueda-desarrollador">Buscar desarrollador </a></span>
    <span class="item-menu"><a href="/contratar" >Contratar un desarrollador</a></span>
    <span class="item-menu"><a href="/perfil-cliente" >Crear perfil cliente</a></span>
    <span class="item-menu"><a href="/contacto" >Contacto</a></span>
    <span class="item-menu" ><a href="/login" >Login</a></span>
    <span class="item-menu"><a href="/registro" >Registrarse</a></span>
  </mat-toolbar>